{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Senha alterada com sucesso!</h4>
                </div>
                <div class="card-body text-center">
                    <p class="fs-5 mb-4">Sua senha foi redefinida. Agora você pode fazer login com a nova senha.</p>
                    <a href="{% url 'login' %}" class="btn btn-success">Fazer login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}